*.cov
*.info
*.csv
*.txt
test/dummy
data/
test/fig/
test/performance_evaluation/server_client/linux*
test/performance_evaluation/server_client/mac*
test/performance_evaluation/server_client/*/*.*
test/performance_evaluation/server_client/*
test/performance_evaluation/server_client/ms/*