*.cov
*.info
*.csv
*.txt
test/dummy
data/
test/fig/
test/figures_input/server_client/linux*
test/figures_input/server_client/mac*
test/figures_input/server_client/*/*.pdf
test/figures_input/server_client/*
test/figures_input/server_client/ms/*